/* breadcrumb secton start*/

.breadcrumb-section {
    padding: 80px 80px;
    background-position :50%;
    background-repeat:no-repeat;
    background-size:cover;
  }
  
  /* breadcrumb secton end*/

.not-found h1{
    color: var(--dark-color);
    padding: 10px 10px;
}

.map-container {
    height: 300px;
    background-color: #f8f9fa;
}

.contact-page .contact-form{
    padding: 0px 20px 0px 20px;
}
.contact-page .contact-info {
    margin-bottom: 20px;
}
.contact-page .contact-info i {
    margin-right: 10px;
}