@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --primary-color: #FF6742;
    --secondary-color: #fff2ed;
    --bg-blue: #0D1034;
    --dark-color: #010101;
    --white-color: #FFFFFF;
    --text-medium: #747474;
    --accent-color: #FF5722;
    --background-color: #F0F4F8;
    --border-color: #E0E0E0;
    --hover-primary: #2398D8;
    --hover-secondary: #4DAA56;
    --font-normal: 400;
    --font-bold: 700;
    --font-base: 16px;
    --btn-hover-bg: linear-gradient(0deg, rgba(0, 146, 200, 1) 0%, rgba(1, 105, 209, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-medium);
    font-weight: var(--font-normal);
    font-size: var(--font-base);
    background-color: var(--white-color);
}

.content-wrapper {
    width: 100%;
    overflow: hidden;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-150 {
    padding-top: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

a {
    text-decoration: none;
}

.slick-next::before,
.slick-prev::before {
    display: none;
}

.btn:hover {
    background-color: transparent;
    color: var(--dark-color);
    border-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color) !important;
}

/*==============
  Custom Button Style
===============*/
.custom-btn {
    color: var(--white-color);
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: var(--primary-color);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--primary-color);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover {
    color: var(--primary-color);
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: var(--primary-color);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.btn-3:hover span:before {
    height: 100%;
}

.btn-3:hover span:after {
    width: 100%;
}

/*==============
  Custom Button Style
===============*/

/*navbar start*/
.navbar {
    background-color: var(--secondary-color);
    padding: 0;
}

.navbar.scrolled {
    background-color: var(--white-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: var(--dark-color);
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 18px;
}

.nav-link:hover {
    color: var(--primary-color);
}

#offcanvasMenuItems>.nav-item>.nav-link {
    color: var(--dark-color) !important;
}

.edu {
    color: var(--white-color);
}

.app {
    color: var(--dark-color)
}

.navbar-brand {
    font-weight: bold;
    padding: 17px 0px;
}

.navbar-collapse {
    flex-grow: 0;
}

.action-group {
    margin-left: 100px;
}

.navbar-toggler {
    border: none !important;
    color: var(--dark-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-link.main-menu {
    position: relative;
}

.nav-link.main-menu::after {
    content: "+";
    font-size: 20px;
    position: absolute;
    right: 1px;
    top: 6px;
    transition: transform 0.3s ease;
}

.nav-item.submenu:hover .nav-link.nav-link.main-menu::after {
    transform: rotate(90deg);
}

.nav-item.submenu .submenu-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: var(--white-color);
    list-style: none;
    position: absolute;
    padding: 0px 15px;
    margin-top: 10px;
}

.nav-item.submenu:hover .submenu-item {
    opacity: 1;
    background-color: var(--white-color);
    transform: translateY(0);
    padding: 0px 15px;
}

.offcanvas-header {
    background-color: var(--primary-color);
}

.dropdown-item {
    padding: 10px 20px;
    transition: background-color 0.5s ease;
}

.dropdown-item:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: .5s;
}

/*navbar end*/

/* hero-section start */
.hero-section {
    background-color: var(--secondary-color);
}

.hero-text {
    flex: 1;
    padding-right: 20px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--dark-color);
}

.hero-title span {
    position: relative;
}

.hero-title span::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0px;
    top: 47px;
    border-radius: 50% 0 0 50%;
}

.hero-subtitle {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: var(--text-medium);
}

.hero-image {
    flex: 1;
    text-align: right;

}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/*hero-section end */
.template-section img {
    width: 100%;
    transition: transform 0.5s ease;
}

.template-section img:hover {
    transform: scale(1.1);
}


/*pricing section */
.pricing-section {
    background-color: var(--white-color);
}

.pricing-section h2 {
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.modern-tabs {
    display: inline-flex;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
}

.card-price {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.card-body ul {
    font-size: 0.95rem;
}

.card-body ul li {
    padding: 0.5rem 0;
}

/* .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
} */

.card-body .btn {
    font-weight: bold;
    padding: 0.75rem;
}

.card.border-primary {
    border: 2px solid var(--primary-color);
}

.badge-success {
    font-size: 0.8rem;
}

/* featue section */
.feature-section {
    background-color: var(--white-color);
}

.feature-card {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.feature-card::before {
    content: "";
    background: var(--primary-color);
    width: 228%;
    height: 80rem;
    position: absolute;
    left: 33rem;
    top: -55rem;
    transform: rotate(45deg);
    transition: all 0.5s;
    cursor: pointer;

}

.feature-card p {
    transition: 0.3s linear;
}

.feature-card h4 {
    color: var(--dark-color);
    z-index: 999;
}

.feature-card:hover {
    transform: translateY(0px);
}

.feature-card:hover p,
.feature-card:hover h4 {
    color: var(--white-color);
}

.icon {
    transition: 0.3s linear;
}

.feature-card:hover .icon {
    background: var(--white-color);
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 50%;
    font-size: 40px;
}

.feature-card:hover::before {
    left: -5rem;
    background-color: var(--primary-color);
    z-index: -1;
}

/* about section start */

.about-section {
    padding: 60px 0;
}

.about-section h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
}

.about-section h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.about-section p {
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .about-section img {
        margin-bottom: 20px;
    }
}

/* Section Header Styling */
.feature-section .section-header,
.pricing-section .section-header,
.user-section .section-header,
.template-section .section-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-section .section-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
}

.about-section .section-header {
    display: flex;
    flex-direction: column;
    flex: start;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 10px;
}

.about-section ul {
    list-style: none;
}

.about-section ul li {
    line-height: 30px;
}

.about-section ul li i {
    padding-right: 5px;
}

.section-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
}

.section-header h3 {
    color: var(--dark-color);
}

.section-title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.section-title:hover::after {
    width: 100%;
}


/*about section end */

.template-section {
    padding: 60px 0;
    background-color: var(--secondary-color);
}

.template-section h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
}

.template-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.template-img-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.template-img {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
    width: 100%;
}

/* Testimonial Section start */
.testimonial-slider {
    display: flex;
    flex-direction: column;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--white-color);
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.testimonial-user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.testimonial-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h4 {
    margin: 0;
    font-weight: 600;
    color: #333;
}

.rating {
    color: #f39c12;
    font-size: 0.9rem;
    margin-top: 5px;
}

.testimonial-item p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-medium);
    margin: 10px 0;
}

.testimonial-slider .slick-dots,
.user-slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.testimonial-slider .slick-dots li,
.user-slider .slick-dots li {
    margin: 0 5px;
}

.testimonial-slider .slick-dots li button:before,
.user-slider .slick-dots li button:before {
    font-size: 10px;
}

.testimonial-slider .slick-dots li.slick-active button:before,
.user-slider .slick-dots li.slick-active button:before {
    color: var(--primary-color);
    font-size: 15px;
}

/* Testimonial Section end */

/* Footer section start */
.footer {
    background-color: var(--bg-blue);
    color: white;
    padding: 70px 0 10px 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--white-color);
}

.footer-links,
.footer-contact,
.footer-newsletter {
    flex: 1;
    margin: 0 20px;
    min-width: 200px;
}

.footer-links h3,
.footer-contact h3,
.footer-newsletter h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-contact p {
    color: var(--border-color);
    text-decoration: none;
}

.footer-contact i {
    padding-right: 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-newsletter form {
    display: flex;
}

.footer-newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.footer-newsletter button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-newsletter button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--primary-color);
}

/* Custom Styles for Pricing Section */
.modern-tabs .nav-link {
    border: none;
    padding: 0.6rem 1.5rem;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 0.2rem;
    border-radius: 0;
    color: var(--dark-color);
}

.modern-tabs .nav-link.active {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
}

.modern-tabs .nav-link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
}

.plan-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan-card ul {
    text-align: left;
    padding-left: 5px;
    list-style: none;
}

.plan-card ul li {
    display: flex;
    align-items: center;
}

.plan-card ul li i {
    margin-right: 8px;
    background-color: var(--white-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.plan-card.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.plan-card.active .card-price {
    color: var(--white-color);
}

.plan-card.active .btn-primary {
    background-color: var(--white-color);
    color: var(--dark-color);
}


.plan-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card-price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.nav-tabs {
    border: none;
}

/*user profile section */
.user-section .featured-card {
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 0 10px;
}

.user-section .featured-card:hover {
    transform: translateY(-5px);
}

.user-section .featured-card .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto;
}

.user-section .featured-card h5 {
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--dark-color);
}

.user-section .featured-card .social-icons a {
    color: var(--primary-color);
    font-size: 20px;
    margin: 0 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border-radius: 50%;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

.user-section .featured-card .social-icons a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: scale(1.1);
}

.user-section .featured-card .social-icons a i {
    font-size: 15px;
}


.user-section .featured-card .btn {
    font-size: 14px;
    margin-top: 20px;
    padding: 8px 20px;
}

.feature-card-buttons {
    padding-bottom: 20px;
}